/* basic settings */
* {
	font-family: 'Merriweather', 'Noto Sans KR';
}

*.focus {
	outline: none;
}

body {
	min-width: 1500px;	
}

.btn:hover, a, a:hover {
	color: black;
	text-decoration: none;
}

li {
	list-style: none;
}


/* basic Header Settings */
#header {
	width: 100%;
	height: 130px;
}

.headerLeft {
	display: inline-block;
	width: 40%;
	height: 100%;
	background-color: #333333;
	padding: 0;
	margin: 0;
}

.logo {
	width: 22%;
	color: white;
	padding: 5% 0;
	margin-left: 25%;
	font-size: 2em;
	font-weight: bold;
	cursor: pointer; 
}

.headerRight {
	display: inline-block;
	float: right;
	width: 60%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.menu {
	width: 75%;
	padding-top: 5%;
	display: inline-block; 
}

.menu ul .menu-item {
	display: inline-block;
	margin: 10px 20px;
	font-size: 1.2em;
	font-weight: bold;
}

.login_logout {
	width: 8%;
	display:inline-block;
}

.login_logout > a, .login_logout > .dropdown > i {
	display: inline-block;
	margin: 15px 0;
	font-weight: bold;
	font-size: 1.2em;
	margin-right: 10%;
}

.login_logout > .dropdown > i{
	font-size: 27px;
	padding-top: 5px;
}

.login_logout > .dropdown > i:hover {
	cursor:pointer;
}

.login_logout > .dropdown > ul {
	margin-top: 10px;
}

/* basic footer settings */
#footer {
	height: 150px;
	background: #333333;
	color: white;
}

.footerLeft {
	display: inline-block;
	width: 70%; 
	font-size: 2em; 
	background-color: #333333; 
	padding-top: 59px; 
	padding-left: 15%; 
}

.footerLeft > span {
	background-color: #333333;
}

.footerLeft > span:first-child {
	font-weight: bold;
}

.footerLeft > span:last-child {
	margin-left: 2%; 
	font-size: 0.7em;
}

.footerRight {
	float: right;
	padding: 59px 15% 10px 0;
	background-color: #333333;
}

.footerRight > a > i {
	color: white; 
	background-color: #333333; 
	font-size: 27px;
}

.footerRight > i {
	font-size: 27px; 
	background-color: #333333; 
	margin-left: 15px;
}