#section {
	padding-top: 70px;
}

#section > div:first-child {
	font-size: 2em;
	font-weight: bold;
}

#section > .icon {
	margin-top: 100px;
}

#section > .icon > span > i, #section > .icon > span > a {
	color: black; 
	font-size: 150px; 
	margin: 0 5%;
}

.slideChild {
	transition: all 1s;
	opacity: 0;
	transform: translateY(-50px);
}

.is-visible {
	opacity: 1;
	transform: translateY(0);
}