.joinText {
	width: 40%;
	margin-left: 30%;
	font-size: 2.5em;
	padding-bottom: 30px;
}

#index {
	width: 40%;
	margin-top: 30px;
	margin-left: 30%;
}

.form-group input {
	width: 100%;
	height: 55px;
	padding-left: 10px;
	background-color: white;
}

.form-group:last-child > .btn{
	width: 100%; 
	height: 50px;
	background-color: #8C827E; 
	color: white; 
	border-radius: 0; 
}