#header {
	width: 100%;
	height: 750px;
}

.headerLeft > .image > img {
	width: 85%; 
	margin: 5% 0 0 25%;
}

.welcome {
	margin: 15% 0 0 20%;
	padding-right: 25%;
}

.welcome > p:first-child {
	font-size: 4em;
}

.welcome > p:nth-child(2) {
	font-size: 1.4em; 
	font-weight: bold;
}

.welcome > div:last-child {
	background-color: #333333; 
	width: 30%; 
	height: 40px; 
	line-height: 40px;
}

.slideChild, .slide {
	transition: all 1s;
	opacity: 0;
	transform: translateY(-50px);
}

.is-visible {
	opacity: 1;
	transform: translateY(0);
}

#section {
	padding-bottom: 150px;
}

#section > .info {
	width: 70%; 
	height: 280px;	
	margin: 200px 0 0 15%;
}

.infoLeft {
	float: left; 
	display: inline-block; 
	width: 40%; 
	height: 100%; 
	margin-right: 5%; 
	padding: 75px 0 0 15%;
	font-size: 4em; 
	font-weight: bold; 
	border-bottom: 1px solid #222222;
}

.infoRight {
	display: inline-block; 
	width: 40%; 
	height: 100%; 
	padding-top: 40px;
}

.infoRight > div:first-child {
	line-height: 2.3em; 
	font-size: 1.1em;
}

.infoRight > div:nth-child(2) {
	margin-top: 30px; 
	background-color: #333333; 
	width: 30%; 
	height: 40px; 
	line-height: 40px;
}

.process {
	width: 100%; 
	height: 500px;
	background-color: #FFC0CB; 
	color: black;  
	margin: 200px 0 150px 0;
}

.process > div:first-child {
	float: left;
	width: 80%;
	margin: 20px 0 0 5%;
}

.process > div:nth-child(2) {
	float: right; 
	width: 0.1px; 
	height: 300px; 
	margin-right: 40px; 
	border-right: 1.5px solid black;
}

.process > div:nth-child(3) {
	float: right; 
	margin: 350px -40px 0 0;
	font-size: 1.3em; 
	font-weight: bold;
	transform: rotate(90deg); 
}