.headerLeft {
	background-color: white;
}

.logo > div {
	color: black;
}

#section {
	padding-top: 70px;
	padding-bottom: 200px;
}

#section > div:first-child {
	font-size: 2em;
	font-weight: bold;
}

#section > div:last-child {
	width: 60%; 
	margin: 70px 0 0 20%; 
	font-size: 1.2em;
}

.slideChild {
	transition: all 1s;
	opacity: 0;
	transform: translateY(-50px);
}

.is-visible {
	opacity: 1;
	transform: translateY(0);
}