<!--공통-->
body {
	min-width: 1300px;
}
a, a:hover {
	color: black;
	text-decoration: none;
}
li {
    list-style: none;
}
			
#header {
    background: white;
	padding-top: 15px;
	padding-bottom: 50px;
	margin-bottom: 0;
}
#top {
	float: right;
	margin-right: 40px;
}
#top a {
	margin: 5px;
	color: Tomato;
	font-weight: bold;
	font-size: 1.2em;
}
#Main_text:before {
	display: inline-block;
	margin: 0 0 3px 20px;
	height: 3px;
	content: " ";
	text-shadow: none;
	background-color: tomato; width: 97%;
}
			
.navigation {
	position: relative;
	width: 20%;
	height: 600px;
	margin: 20px 0;
	margin-left: 1.5%;
	background-color: white;
	color: tomato;
	border: 3px solid tomato;
	border-radius: 5px;
}
.nav-menu {
	padding: 0;
}
.menu-item a {
	font-size: 1.5em;
	font-weight: bold;
	display: block;
	padding: 12px 0;
	text-decoration: none;
	color: #F24162;
	transition:color .3s ease;
}
			.menu-item a:hover {
			  color: black;
			}
			#nav_text:before {
			  display: inline-block;
			  margin: 0 0 3px 0;
			  height: 1.5px;
			  content: " ";
			  text-shadow: none;
			  background-color: tomato; width: 90%;
			}
			
			.search_bar {
			  margin-top: -630px;
			  margin-right: 1.5%;
			  padding: 7px;
			  float: right;
			}
			.input-search {
			  display: block;
			  float: left;
			  background: white;
			  border: 2px solid tomato;
			  border-radius: 5px 0 0 5px;
			
			  width: 350px;
			  height: 45px;
			  padding-left: 10px;
			  color: #555555;
			  font-weight: bold;
			}
			.input-search-submit {
			  display: block;
			  float: left;
			
			  width: 50px;
			  height: 45px;
			  border-radius: 0 5px 5px 0;
			  border: 2px solid tomato;
			  border-left-width: 1px;
			
			  background: white;
			  margin-left: -1px;
			
			  font-weight: bold;
			  color: tomato;
			}
			
			.index {
			  margin-top: -550px;
			  margin-right: 2%;
			  float: right;
			  width: 70%;
			  height: 530px;
			  border: 2px solid tomato;
			}
			#footer {
			  width: 100%;
			  height: 150px;
			  margin-top: 100px;
			  background-color: tomato;
			  border-radius: 3px 3px 0 0;
			}
			.copyright, .github {
			  padding-top: 30px;
			  color: white;
			}
			.github {
			  cursor: pointer;
			}